
@using JobFinder.Web.Models.Resume
@model ResumeViewModel

<div class="d-flex">
    <div class="w-25 mr-1">
        <form method="get" asp-controller="Resume" asp-action="AddSkills">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Back</button>
        </form>
    </div>
    <div class="w-75">
        <form method="get" asp-controller="Resume" asp-action="ConvertAndSave">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Download</button>
        </form>
    </div>
</div>

<partial name="ResumeDetails" model="Model" />